<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PreferenceSpecifiers</key>
    <array>
        <dict>
            <key>Title</key>
            <string>Server</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>production</string>
            <key>Key</key>
            <string>veteris_server_environment</string>
            <key>Title</key>
            <string>Server</string>
            <key>Titles</key>
            <array>
                <string>Production</string>
                <string>Dev</string>
            </array>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Values</key>
            <array>
                <string>production</string>
                <string>dev</string>
            </array>
        </dict>
    </array>
    <key>StringsTable</key>
    <string>Root</string>
</dict>
</plist>
