<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PreferenceSpecifiers</key>
    <array>
        <dict>
            <key>Title</key>
            <string>Customization</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Key</key>
            <string>customization_title</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>Theme</string>
            <key>Key</key>
            <string>theme_preference</string>
            <key>DefaultValue</key>
            <string>Default</string>
            <key>Titles</key>
            <array>
                <string>Midnight (Standard)</string>
                <string>Ruby</string>
                <string>Strawberry</string>
				<string>Cherry Blossom</string>
                <string>Tangerine</string>
                <string>Autumn</string>
                <string>Lime</string>
                <string>Sage</string>
                <string>Jungle</string>
                <string>Frost</string>
                <string>Blueberry</string>
                <string>Indigo</string>
				<string>Periwinkle</string>
                <string>Spooky</string>
                <string>Graphite</string>
                <string>Ruby (Black)</string>
                <string>Strawberry (Black)</string>
				<string>Cherry Blossom (Black)</string>
                <string>Tangerine (Black)</string>
                <string>Autumn (Black)</string>
                <string>Lime (Black)</string>
                <string>Sage (Black)</string>
                <string>Jungle (Black)</string>
                <string>Frost (Black)</string>
                <string>Blueberry (Black)</string>
                <string>Indigo (Black)</string>
				<string>Periwinkle (Black)</string>
                <string>Spooky (Black)</string>
                <string>Graphite (Black)</string>
            </array>
            <key>ShortTitles</key>
            <array>
                <string>Midnight</string>
                <string>Ruby</string>
                <string>Strawberry</string>
				<string>Cherry Blossom</string>
                <string>Tangerine</string>
                <string>Autumn</string>
                <string>Lime</string>
                <string>Sage</string>
                <string>Jungle</string>
                <string>Frost</string>
                <string>Blueberry</string>
                <string>Indigo</string>
				<string>Periwinkle</string>
                <string>Spooky</string>
                <string>Graphite</string>
                <string>Ruby (Black)</string>
                <string>Strawberry (Black)</string>
				<string>Cherry Blossom (Black)</string>
                <string>Tangerine (Black)</string>
                <string>Autumn (Black)</string>
                <string>Lime (Black)</string>
                <string>Sage (Black)</string>
                <string>Jungle (Black)</string>
                <string>Frost (Black)</string>
                <string>Blueberry (Black)</string>
                <string>Indigo (Black)</string>
				<string>Periwinkle (Black)</string>
                <string>Spooky (Black)</string>
                <string>Graphite (Black)</string>
            </array>
            <key>Values</key>
            <array>
                <string>Default</string>
                <string>Ruby</string>
                <string>Strawberry</string>
				<string>Cherry</string>
                <string>Tangerine</string>
                <string>Autumn</string>
                <string>Lime</string>
                <string>Sage</string>
                <string>Jungle</string>
                <string>Frost</string>
                <string>Blueberry</string>
                <string>Indigo</string>
				<string>Periwinkle</string>
                <string>Spooky</string>
                <string>Graphite</string>
                <string>RubyBlack</string>
                <string>StrawberryBlack</string>
				<string>CherryBlack</string>
                <string>TangerineBlack</string>
                <string>AutumnBlack</string>
                <string>LimeBlack</string>
                <string>SageBlack</string>
                <string>JungleBlack</string>
                <string>FrostBlack</string>
                <string>BlueberryBlack</string>
                <string>IndigoBlack</string>
				<string>PeriwinkleBlack</string>
                <string>SpookyBlack</string>
                <string>GraphiteBlack</string>
            </array>
        </dict>
        <dict>
            <key>Title</key>
            <string>Info</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Version</string>
            <key>Key</key>
            <string>version_preference</string>
            <key>DefaultValue</key>
            <string>%BUILD_VERSION%</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Credits</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Developer</string>
            <key>Key</key>
            <string>credits_developer</string>
            <key>DefaultValue</key>
            <string>Electimon</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Maintainer</string>
            <key>Key</key>
            <string>credits_maintainer</string>
            <key>DefaultValue</key>
            <string>Victor</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>UI Design</string>
            <key>Key</key>
            <string>credits_ui_design_1</string>
            <key>DefaultValue</key>
            <string>bag.xml</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>UI Design</string>
            <key>Key</key>
            <string>credits_ui_design_2</string>
            <key>DefaultValue</key>
            <string>Telgamon</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Professional Bug Finder</string>
            <key>Key</key>
            <string>credits_bug_finder</string>
            <key>DefaultValue</key>
            <string>Justus61</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Clutch</string>
            <key>Key</key>
            <string>credits_clutch</string>
            <key>DefaultValue</key>
            <string>Hackulous/KJC</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Translation (RU)</string>
            <key>Key</key>
            <string>translation_ru</string>
            <key>DefaultValue</key>
            <string>platinumstuff</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Translation (UA)</string>
            <key>Key</key>
            <string>translation_ua</string>
            <key>DefaultValue</key>
            <string>Mikhail Churakov</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Translation (DE)</string>
            <key>Key</key>
            <string>translation_de</string>
            <key>DefaultValue</key>
            <string>Justus61</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Translation (VI)</string>
            <key>Key</key>
            <string>translation_vi</string>
            <key>DefaultValue</key>
            <string>Cheese</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Translation (PT)</string>
            <key>Key</key>
            <string>translation_pt</string>
            <key>DefaultValue</key>
            <string>AguiaEscaldante</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTitleValueSpecifier</string>
            <key>Title</key>
            <string>Translation (ZH)</string>
            <key>Key</key>
            <string>translation_zh</string>
            <key>DefaultValue</key>
            <string>pdyq</string>
        </dict>
        <dict>
            <key>Key</key>
            <string>dev_settings_title</string>
            <key>Title</key>
            <string>Developer</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>Title</key>
            <string>Dev Menu</string>
            <key>Key</key>
            <string>dev_settings_menu</string>
            <key>File</key>
            <string>Dev</string>
        </dict>
        <dict>
            <key>Title</key>
            <string>Licenses</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>Title</key>
            <string>SVProgressHUD</string>
            <key>File</key>
            <string>SVProgressHUD</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>Title</key>
            <string>InAppSettingsKit</string>
            <key>File</key>
            <string>InAppSettingsKit</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>Title</key>
            <string>md5</string>
            <key>File</key>
            <string>md5</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>Title</key>
            <string>KGNoise</string>
            <key>File</key>
            <string>KGNoise</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>Title</key>
            <string>BBHTTP</string>
            <key>File</key>
            <string>BBHTTP</string>
        </dict>
    </array>
    <key>StringsTable</key>
    <string>Root</string>
</dict>
</plist>
